<head>
  <%- include("partials/head")%>
</head>
<body>
  <%- include("partials/nav")%>
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
          Agregar nueva tarea
      </div>
      <div class="card-body">
          <form action="/guardar" method="POST">
              <div class="mb-3">
                  <label for="titulo" class="form-label">Tema</label>
                  <input type="text" class="form-control" id="titulo" name="titulo">
              </div>
              <div class="mb-3">
                  <label for="contenido" class="form-label">Contenido</label>
                  <input type="text" class="form-control" id="contenido" name="contenido">
              </div>

              <button type="submit" class="btn btn-primary">
                  Guardar
              </button>
          </form>
      </div>
  </div>
</body>
<footer>
  <%- include("partials/footer")%>
</footer>