<head>
  <%- include("partials/head")%>
</head>
<body>
  <%- include("partials/header")%>
  <div class="card">
      <h5 class="card-header titleFont">MODIFICAR POST</h5>
      <div class="card-body">
          <form>
              <div class="mb-3">
                <label for="titulo" class="form-label">Tema</label>
                <input type="text" class="form-control" id="titulo">
              </div>
              <div class="mb-3">
                  <label for="contenido" class="form-label">¿Qué es lo que pasa por tu mente?</label>
                  <textarea class="form-control" id="contenido" rows="3"></textarea>
                </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">¿Adjuntar imagen?</label>
              </div>
              <div class="mb-3">
                  <label for="basic-url" class="form-label">Your vanity URL</label>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                  </div>
                  <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
                </div>              
              <button type="submit" class="btn btn-primary buttonFont">Enviar</button>
              <button type="button" class="btn btn-danger buttonFont">Cancelar</button>
            </form>
      </div>
    </div>
</body>
<footer>
  <%- include("partials/footer")%>
</footer>