<!--Página principal de la aplicacion-->
<%- include("partials/head")%>
<%- include("partials/header")%>
<body>
    <div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url('assets/background.jpg');
    height: 100vh;">
        <h1 class="text-white">¡BIENVENIDO!</h1>
    </div>  
</body>
<%- include("partials/footer")%>
