<footer>
    <div class="bg-success mt-5">
      <div class="row container-fluid centerElementos">
        <div class="mt-4 mb-md-0">
          <a href="https://github.com/JGarcia575">
            <img 
            src="assets/footer.jpg" 
            class="mx-auto d-block imgFooter" 
            alt="logo del desarrollador de la aplicacion web"
            />
            
          </a>
        </div>
        <div class="text-center text-white p-3 font-monospace">
            <p>©2023 Copyright: The Lazy Cat</p>
        </div>
      </div>
    </div>
</footer>